MIGRATE=no

TWITCH_USERNAME=nourybot
TWITCH_OAUTH=oauth:asd
TWITCH_COMMAND_PREFIX=()
ENV=dev

TWITCH_CLIENT_ID=asd
TWITCH_CLIENT_SECRET=asd
EVENTSUB_SECRET=asd

DSN=postgres://nourybot:coolpassword@postgres:5432/nourybot?sslmode=disable
DB_HOST=postgres
DB_PORT=5432
DB_USER=nourybot
DB_PASSWORD=coolpassword
DB_NAME=nourybot

OWM_KEY=asd
WOLFRAMALPHA_APP_ID=asd

LAST_FM_APPLICATION_NAME=asd
LAST_FM_API_KEY=asd
LAST_FM_SECRET=asd
