TWITCH_USERNAME=cooltwitchusername
TWITCH_OAUTH=oauth:cooltwitchoauthtoken
TWITCH_COMMAND_PREFIX=()

TWITCH_CLIENT_ID=mycoolclientid
TWITCH_CLIENT_SECRET=mycoolclientsecret

LOCAL_DSN=postgres://user:password@localhost/database-name?sslmode=disable
REMOTE_DSN=postgresql://user:password@databaseurlfrom.supabase.com:5432/postgres

OWM_KEY=mycoolopenweatherkey

LAST_FM_APPLICATION_NAME=goodname
LAST_FM_API_KEY=goodlastfmapikey
LAST_FM_SECRET=goodlastfmsecretkey
