<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <title>nourybot - lidl twitch bot</title>
    <meta property="og:title" content="nourybot - timers">
    <meta property="og:description" content="nourybot">
  </head>
  <h1>Timers in {{ .Channel }}</h1>
<p>General commands:</p>
{{ with .Timers }} 
{{ range . }}
<p>
    <b>Name:</b> {{ .Name }} </br>
    <b>Text:</b> {{ .Text }} </br>
    <b>Repeat:</b> {{ .Repeat }} </br>
</p>
{{ end }}
{{ end }}
