{{ define "title" }}nourybot - commands in {{ .Channel }}{{ end }}
{{ define "body" }}
{{ with .Commands }} 
{{ range . }}
<p>
    <b>Name:</b> {{ .Name }} </br>
    <b>Level:</b> {{ .Level }} </br>
    <b>Description:</b> {{ .Description }} </br>
    <b>Text:</b> {{ .Text }} </br>
</p>
{{ end }}
{{ end }}
{{ end }}
