{{ define "title" }}nourybot - commands{{ end }}
{{ define "body" }}
<p>General commands:</p>
{{ with .Commands }} 
{{ range . }}
<p>
    <b>Name:</b> {{ .Name }} </br>
    {{ if .Alias }}
        <b>Alias:</b> {{ .Alias}} </br>
    {{ else }}
    {{ end}}
    <b>Description:</b> {{ .Description }} </br>
    <b>Level:</b> {{ .Level }} </br>
    <b>Usage:</b> {{ .Usage }} </br>
</p>
{{ end }}
{{ end }}
{{ end }}
