{{ define "title" }}nourybot{{ end }}
{{ define "body" }}
<p>Channels connected to:</hp>
    <table>
        <tr>
            <th>Twitch ID</th>
            <th>Username</th>
        </tr>
        {{ with .Channels }} 
        {{ range . }}
        <tr>
            <td>{{ .TwitchID }}</td>
            <td>{{ .Login }}</td>
        </tr>
        {{ end }}
        {{ end }}
    </table>
{{ end }}
